<div class="container" style="width: 600px;">
<form class="form" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
    <h1>Update User Imformation</h1>
    <hr>
  <div class="row">
    <div class="col-md-4">
      <label>Email</label>
    </div>
    <div class="col-md-8">
      <input type="text" name="Email" #Email="ngModel" [(ngModel)]="user.Email" [pattern]="emailPattern">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <label>First Name</label>
    </div>
    <div class="col-md-8">
      <input type="text" name="FirstName" #FirstName="ngModel" [(ngModel)]="user.FirstName">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <label>Last Name</label>
    </div>
    <div class="col-md-8">
      <input type="text" name="LastName" #LastName="ngModel" [(ngModel)]="user.LastName">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <label>Phone Number</label>
    </div>
    <div class="col-md-8">
      <input type="text" name="PhoneNumber" #PhoneNumber="ngModel" [(ngModel)]="user.PhoneNumber">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <button [disabled]="!userRegistrationForm.valid" class="btn-large btn-submit" type="submit">Submit</button>
    </div>
  </div>
</form>
</div>