<div class="container">
    <div class="row">
        <nav>
            <div class="nav-wrapper" style="background: lightslategrey">
                <a routerLink="home" class="brand-logo">
                    <i class="material-icons">home</i>Home</a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a routerLink="login" style="font-size: 18px">
                            Đăng nhập
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="material-icons">search</i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row">
        <router-outlet></router-outlet>
    </div>
    <div class="row" style="height: 120px;background-color:lightslategrey">
        This is Footer
    </div>
</div>