<form #frm ="ngForm">
  <div class="row" *ngIf="userClaims">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-content">
          <span>Username :{{userClaims.UserName}}</span>
          <br>
          <span>Email : {{userClaims.Email}}</span>
          <br>
          <span>Full Name : {{userClaims.FirstName}} {{userClaims.LastName}}</span>
          <br>
          <span>Logged On : {{userClaims.LoggedOn}}</span>
          <br>
          <span>Password : {{userClaims.Password}}</span>
          <br>
          <span>Mobile : {{userClaims.PhoneNumber}}</span>
          <br>
          <input type="text" name="sql" #sql="ngModel" [ngModel]/>
          <button style="width: 100px;" (click) ="onExecSQL(frm)" >Exec SQL</button>
        </div>
      </div>
    </div>
  </div>
</form>